.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #1f2328;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4e9ccc;
}
h2 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4e9ccc;
}

p {
  font-size: 2rem;
  color: #4e9ccc;
}

img {
  width: 80%;
}

